[submodule "SpringCoreFundamentals"]
	path = SpringCoreFundamentals
	url = https://github.com/samritigupta/SpringCoreFundamentals
[submodule "SpringMVC"]
	path = SpringMVC
	url = https://github.com/samritigupta/SpringMVC
[submodule "SpringMVCPlusHibernate"]
	path = SpringMVCPlusHibernate
	url = https://github.com/samritigupta/SpringMVCPlusHibernate
[submodule "SpringHibernateConceptsAtEase"]
	path = SpringHibernateConceptsAtEase
	url = https://github.com/samritigupta/SpringHibernateConceptsAtEase
[submodule "SpringCRMHibernateUsingXMLConfig"]
	path = SpringCRMHibernateUsingXMLConfig
	url = https://github.com/samritigupta/SpringCRMHibernateUsingXMLConfig
[submodule "SpringCRMHibernateUsingJavaConfig"]
	path = SpringCRMHibernateUsingJavaConfig
	url = https://github.com/samritigupta/SpringCRMHibernateUsingJavaConfig
