[submodule "SpringCoreFundamentals"]
	path = SpringCoreFundamentals
	url = https://github.com/samritigupta/SpringCoreFundamentals
[submodule "SpringMVC"]
	path = SpringMVC
	url = https://github.com/samritigupta/SpringMVC
[submodule "SpringMVCPlusHibernate"]
	path = SpringMVCPlusHibernate
	url = https://github.com/samritigupta/SpringMVCPlusHibernate
